@model string
    @if (string.IsNullOrWhiteSpace(Model))
    {
        @:(Дані відсутні)
    }
    else
    {
        <blockquote>
            <p class="lead">
                @Model
            </p>
        </blockquote>
    }

